@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.intro{
  height: 100%;
  width: 100%;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.63),rgba(0,0,0,0.63)), url('home_bg.jpg');
  display: table;
  top: 0;
  background-size: cover;
}
.intro .nav__brand {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #1C82AD;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  text-decoration: none;
  margin-left: 50%;
  margin-top: 50%;
}

.intro .nav__brand i {
  color: #6d6969;
}

.intro .inner{  
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  display: inline;
  margin-bottom: 0.5%;
}

.content h1{
  font-family: 'Raleway', sans-serif;
  color: #1C82AD;
  text-shadow: 0px 0px 300px #000;
  font-size: 500%;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
}
.content h2{
  font-family: 'Raleway', sans-serif;
  color: white;
  text-shadow: 0px 0px 300px #000;
  font-size: 210%;
  margin-bottom: 0.5%;
}
.content p{
  font-family: 'Raleway', sans-serif;
  color: white;
  text-shadow: 0px 0px 300px #000;
  font-size: 150%;
  margin-bottom: 10%;
  margin-left: 40%;
  margin-top: 0.5%;
}

.btn{
  border-radius: 9px;
  border: solid #fff 3px;
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
  display: inline;
  padding: 0.5rem 2rem;
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  text-decoration: none;
  margin-bottom: 20%;
  margin-left: 45%;
  margin-top: 10%;
}

.btn:hover{
  color: #1C82AD;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .nav__brand{
    font-size: 100%;
  }
  .content h1{
    font-size: 300%;
  }
  .content h2{
    font-size: 200%;
  }
  .content p{
    font-size: 100%;
  }
  .btn{
    font-size: 110%;
    padding: 7px 15px;
  }
  }